body{
	background:#3B1D58;
	color:#222 !important;
	font-family: korolev-compressed, sans-serif  !important;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-weight: 300;}
h1, h2, h3, h4, h5, h6{
	font-family: korolev-compressed, sans-serif;
	font-weight: 900;}
.row{
	max-width:78.125em !important;}
.bottom30{
	margin-bottom:30px;}
.bottom60{
	margin-bottom:60px;}
.top15{
	margin-top:15px;}
.top30{
	margin-top:30px;}
.pad{
	padding: 0 30px;}
.m40{
	margin:40px 0;}
.top-bar .name{
	background:#86a887;}
.top-bar-section ul li{
	border-bottom:1px solid #fff;
	background:#86a887 !important;}	
.top-bar-section ul li > a{
	font-family: korolev-compressed, sans-serif  !important;
	text-transform:uppercase;
	color:#fff !important;
	font-size:14px;}	
.spacer{
	border-bottom:1px solid #DCDCDC;  
    margin: 30px 0 10px;}	
.relative{
	position:relative;}
p{
	line-height:28px;
	font-size:17px;
	margin-bottom:15px;}
.bold{
	font-weight:800;}
small{
	font-size:11px;
	font-family: 'Glegoo', serif;;
	text-transform:uppercase;
	display:block;
	margin-bottom:30px;}
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px 95px 10px;}
#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;}
#toggle span:after{
  top: 9px;}
#toggle span {
  position: relative;
  display: block;}
#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #6db86f;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;}

/* on activation */
#toggle.on span {
  background-color: transparent;}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;}

/* menu appearance*/
#menu {
  position: absolute;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;}
#menu li a {
font-family: korolev-compressed, sans-serif  !important;
font-style: normal;
  font-weight: 300;
  padding: 14px;
  text-transform: uppercase;
  color: #888;
  font-size: 12px;
  text-decoration: none;
  transition: all .2s;}
#menu li a:hover,
#menu li a:focus {
  background: #eeb739;
  color: #fff;}
html, body, 
.container,
.centralizador,
.centralizador section { 
	height: 100%;}		
 .full{
    width: 100%;
    float: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);}

/*LAYOUT*/
			   	   
#info{
  padding: 30px;
  position: relative;
z-index: 10;}
header{
  position: relative;overflow: hidden;max-height:545px}
header h1{
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 80px;
  font-family: korolev-compressed, sans-serif  !important;
  transition: background-color 300ms ease-in-out;
  text-align: center;
  position: relative;
  box-shadow: 10px 0 0 rgba(59,29,88,1), -10px 0 0 rgba(59,29,88,1);
  color: #fff;
  display: inline;
  padding: 0;
  background: #3B1D58;
  text-transform: uppercase; }
.holder {
  background: #fff;}
.banner{
  position: absolute;
  top: 0; }
header ul li a{
  display: inline-block;
  padding: 20px;
  transition: background-color 300ms ease-in-out;
  margin-bottom: 10px;
  background: #f4d35e;}
header ul li a:hover{
  background: #3B1D58;}
#conteudo{
	padding: 30px;}
#placar{
	padding-bottom: 70px;}
#placar span,
#placar li{
  font-size: 22px;
  font-weight: 500;
  color: #484848;
  text-transform: uppercase;}
#placar li{
	padding: 3px 0;
	border-top: 1px solid #DCDCDC;}
#placar li:first-child{
  border-top: none;}
#placar li:last-child{
  border-bottom:1px solid #DCDCDC;}
#placar h3{
  padding-top: 20px;
  font-size: 36px;
  color: #484848;}
#placar a{
	border-top: 1px solid #DCDCDC;
    display: block;
    border-bottom: 1px solid #DCDCDC;
    padding: 4px 0;
    margin-top: 17px;	
	text-transform: uppercase;
	font-weight: 500;
	 font-size: 22px;
	 color: #484848; }
#placar .highlight{
  font-size: 26px;
  color: #f4d35e;}
.tripa-noticias{
	padding-bottom: 60px;}
 .titulo{
  position: absolute;
  padding: 0 20px;
  bottom: 10px;}
.tripa-noticias h2{
  position: relative;
  font-size: 42px;
  line-height: 52px;
	box-shadow: 10px 0 0 rgba(59,29,88,1), -10px 0 0 rgba(59,29,88,1);
  text-transform: uppercase;
  color: #fff;
  display: inline;
  background: #3B1D58;}
.tripa-noticias img:hover{
  opacity: 0.9; }
#stats{
	padding-bottom: 70px;}
#stats h2,
#stats h3{
  font-size: 22px;
  line-height: 20px;
  color: #484848;
  font-weight: 500;
  text-transform: uppercase;}
#quote img{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px}
#quote h2{
  font-size: 58px;
	box-shadow: 10px 0 0 rgba(59,29,88,1), -10px 0 0 rgba(59,29,88,1);
  color: #fff;
  display: inline;
  background: #3B1D58;
  text-transform: uppercase;}
#quote h3{
  color: #484848;
  text-transform: uppercase;
  font-weight:500; }
#artigo{
  padding-bottom: 60px; }
#artigo h2{
  position: relative;
  top: 400px;
  margin: 0 auto;
  line-height: 64px;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  background: #3B1D58;
  display: inline;
  z-index: 10px;}
#lista-noticias{
	padding-bottom: 0;}
#lista-noticias a{
  display: block;
  font-size: 30px;
  border-bottom: 1px solid #DCDCDC;
  color: #484848;
   transition: color 300ms ease-in-out;
  line-height: 34px;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 500;}
#lista-noticias a:hover{
  color: #f4d35e;}
article{
  padding-bottom: 20px; }
article a{
	font-family: korolev-compressed, sans-serif  !important;
	display: inline-block;
	background: #3B1D58;
	color: #fff;
    transition: background-color 300ms ease-in-out;
    font-size: 24px;
    text-transform: uppercase;
    padding: 5px 15px;}
article a:hover{
	background: #f4d35e;
	color: #fff;}
article img{
	text-align: center;}
article h2{
  font-size: 44px;
  text-transform: uppercase;
  line-height: 44px;
  color: #3B1D58;}
article h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;}
article h4{
  text-transform: uppercase;
   font-family: "proxima-soft";	
   font-size: 16px;
	margin-top: 20px;
  font-weight: 500;}
article p{
  font-family: "proxima-soft";	
  font-size: 17px;
  line-height: 28px;
  margin: 30px 0;}
article #bloco-txt{
  padding: 30px 0;}
blockquote p{
font-family: korolev-compressed, sans-serif  !important;
  display: inline !important;
  background: #3B1D58 !important;
  padding: 5px !important;
  border-left: 0 !important;
  font-size: 34px;
  line-height: 54px;
  margin: 60px 0 !important;
  font-weight: 500 !important;
  color: #fff !important;}
article{
	position: relative;}
article ul{
  margin: 30px 0;}
article li{
  display: block;
  float: left;}
article li a{  
  background: #f4d35e;
  transition: background-color 300ms ease-in-out;
  color: #fff;
  font-family: korolev-compressed, sans-serif !important;
 font-size: 20px;
  text-transform: uppercase;
  padding: 5px 15px;
  margin-right: 15px; }
article li a:hover{
  color: #fff;
  background: #3B1D58;}
#compartilhe{
  position:absolute;
  top: 0;}
#compartilhe span{
  font-weight: 500;
  display: block;
  font-size: 20px;
  text-transform: uppercase;}
#compartilhe li a{
  display: block;
  transition: background-color 300ms ease-in-out;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-right: none !important;
  background: #f4d35e;}
#compartilhe li a:hover{
	background: #3B1D58;}
#comentarios{
	padding-bottom: 150px;}
#comentarios h2{
	display: inline-block;
	padding: 0 15px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	background: #3B1D58;}
#contador{
  position: absolute;
  right: -14px;}
#contador span{
	font-weight: 500;
  text-transform: uppercase;}
#contador a{
  display: block;
  transition: background-color 300ms ease-in-out;
  background: #3B1D58;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px 2px; }
#contador a:hover{
	background: #f4d35e;}
#stats img{
	border: 1px solid #cecece;}
#stats-interna{
  margin-bottom: 90px;}
#stats-interna .item{
  border-right:1px solid #cecece;
  padding: 30px;
  text-align: center;}
#stats-interna .posicao{
  display: block;
  font-size: 50px;
  color: #3B1D58;}
#stats-interna .quesito{
  display: block;
  font-size: 20px;
  text-transform: uppercase;}
#stats-interna .valor{
  font-size: 50px;
  color: #3B1D58; }
#stats-interna h2{
  color: #3B1D58;
  font-size: 50px;
  padding: 30px 0;
  text-transform: uppercase;}
#stats-interna .player{
  text-align: center;
  margin-bottom: 40px;}
#stats-interna .player h2{
  padding: 0;
  margin-bottom: 0;
  font-size: 28px;}
#stats-interna h3{
  color: #484848;
  border:1px solid #cecece;
  font-weight: 500; }
#elenco{
	padding-bottom: 60px;}
#elenco h2{
  text-transform: uppercase;
  color: #3B1D58;
  margin-bottom: 0;}
#elenco h3{
  text-transform: uppercase;
  font-size: 24px;
  color: #484848;
  font-weight: 500;
  margin-top: 0;}
#elenco h4{
  font-weight: 500;
  margin: 0;
  font-size: 18px;}
#elenco img{
  border: 1px solid #cecece; }
#elenco .item{
  margin-bottom: 50px;}
#campanha{
	border-bottom:1px solid #dcdcdc; 
	font-size: 26px !important; 
	display: block; 
	padding: 4px 0;}
#paginacao ul{
	padding-top: 60px;}
#paginacao li a{
	background: #dcdcdc !important;
	padding: 10px 20px !important;
	border-bottom: none !important;
	text-decoration: none !important;}
#paginacao li.current a{
	background: #3B1D58 !important;
    padding: 10px 20px;
    color: #fff;}
#contato{
	padding: 20px 0 120px;}
#contato input,
#contato textarea{
	font-family: "proxima-soft";
	box-shadow: none;
    font-size: 16px;}
#contato button{
	font-family: "proxima-soft";
	font-size: 14px;
	background: #3B1D58;
	padding: 30px 0;
	text-transform: uppercase;
	width: 100%;}
::-webkit-input-placeholder{
	text-transform: uppercase;
	font-size: 14px;
	color: #4a4a4a;}
:-moz-placeholder {
	color: #4a4a4a;}
::-moz-placeholder {
	color: #4a4a4a;}
:-ms-input-placeholder {  
	color: #4a4a4a;}			
footer{
	margin-top: 140px;}
footer .logo{
  position: relative;
  bottom: 50px;}
footer h2{
  display: inline;
  padding: 10px;
  background: #3B1D58;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;}
footer ul{
  padding-top: 50px;}
footer li{
  float: left;
  margin-right: 12px;}
footer  li:last-child{
  margin-right: 0;}
footer li a{
  display: inline-block;
  transition: background-color 300ms ease-in-out;	
  padding: 12px 14px;
  background: #f4d35e;}
footer li a:hover{
	background: #3B1D58;}
footer #links li{
  float: left;}
footer #links li a{
  text-transform: uppercase;
  transition: background-color 300ms ease-in-out;
  font-size: 20px;
	font-weight: 500;
  padding: 0 !important;
  margin-right: 25px !important;
  color: #484848 !important;
  background: none !important;}
footer #links li a:last-child{
  margin-right: 0;}
footer #links li a:hover{
	background: #f4d35e;}


/*MEDIA QUERIES*/

@media only screen and (max-width: 30em){
	body{
		background: #fff;}
	#conteudo{
		padding: 10px;}
	#placar h3{
		font-size: 32px;}
	header{
		margin-bottom: 0;}
	header h1{
    font-size: 34px;
	line-height: 42px;}
	#info{
		padding-top: 86px;}
	.logo{
		padding: 0px 110px 10px;
		text-align: center;}
	#placar{
		padding-bottom: 40px;}
	#placar .highlight{
		margin-top: 30px;}
	#placar span, #placar li{
		font-size: 20px;}
	.tripa-noticias{
		padding-bottom: 0;}
	.tripa-noticias h2{
		font-size: 38px;
		line-height: 52px;}
	.tripa-noticias .item{
		margin-bottom: 30px;}
	#quote h2{
		font-size: 44px;}
	#quote{
		padding-bottom: 60px;}
	#lista-noticias{
		padding-bottom: 90px;}
	#lista-noticias a{
		font-size: 28px;}
	#compartilhe{
		position: relative;	}
	#compartilhe li:last-child a{
		margin-right: 0;}
	#contador{
		position: absolute;
		top: 30px;
	    right: -10px;}
	#contador a{
		font-size: 20px;
		padding: 11px;}
	#autor{
		padding-top: 30px;}
	blockquote p{
		font-size: 26px;
	    line-height: 48px;}
	#stats-interna h2{
		font-size: 42px;
		padding: 10px 0;}
	#stats-interna .item{
	  border-bottom:1px solid #cecece;
		border-right: none;
	  padding: 30px;
	  text-align: center;}	
	article h3{
		font-size: 22px;}
	#campanha{
		padding: 10px 0 20px;}
	#paginacao li a{
		font-size: 22px !important;
		padding: 2px 15px !important;}
	footer h2{
		padding: 5px 0;
		font-size: 24px;
		line-height: 40px;}
	footer .logo{
		bottom: 25px;}
	footer li{
		margin-right: 0;
		display: block;
		float: none;
		text-align: center;
		margin-bottom: 15px;	}
	footer li a{
		padding: 20px;
		width: 100%;
		margin-right: 0;}
	footer #links li{
	  float: none;
	 margin-right: 0 !important;}
	footer #links li a{
		display: block;
	  text-transform: uppercase;
	  transition: background-color 300ms ease-in-out;
	  font-size: 20px;
		margin-bottom: 1px;
	  padding: 10px 0 !important;
	  margin-right: 0 !important;
	  color: #fff !important;
	  background: #3B1D58 !important;}
	footer #links li:last-child a{
		margin-bottom: 30px;}
	footer #links li a:hover{
		background: #f4d35e;}	
	#stats-interna .player h2{
		font-size: 22px !important;	}
}

/*IPAD PORTRAIT	*/	
@media only screen and (min-width: 32em) and (max-width:48em){

/*IPAD PAISAGEM*/
@media only screen and (min-width: 49em) and (max-width:64em){
}	

@media only screen and (min-width: 65em) and (max-width:87em){
		
}